<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pulsestorm_SimpleUiComponent::a_menu_item" resource="Pulsestorm_SimpleUiComponent::menu_1" title="Hello Simple Ui Component" action="pulsestorm_simpleuicomponent/index/index" module="Pulsestorm_SimpleUiComponent" sortOrder="1" parent="Magento_Backend::system_other_settings" dependsOnModule="Magento_Backend"/></menu>
</config>
